Repository riii111/go-rust-comparison, pull requests merged in 2025-02, with the labels that each got.

#109 レコード作成機能まで
  backend/cmd/app/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapter/routes/routes.go
  backend/internal/application/usecase/product_usercase.go
  backend/internal/domain/models/products.go
  backend/internal/infrastructure/repository/product_repository.go
  backend/internal/presentation/handlers/operator_handler.go
  backend/internal/presentation/handlers/product_handler.go
  backend/internal/presentation/requests/operator_request.go
  backend/internal/presentation/requests/product_request.go
  backend/internal/presentation/responses/common_response.go
  backend/internal/presentation/responses/operator_responses.go
  backend/tests/handler/operator_test.go
Labels: enhancement, golang, don't merge

#117 SecurityGroupの作成
  infrastructure/architectures/go_rust_comparison.drawio.svg
  infrastructure/cloudformation/security/sg.yml
Labels: infra, AWS

#108 【在庫管理API】新規作成
  backend/cmd/app/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapter/routes/routes.go
  backend/internal/application/usecase/stock_usecase.go
  backend/internal/application/usecase/stock_usecase_test.go
  backend/internal/infrastructure/repository/operator_repository.go
  backend/internal/infrastructure/repository/product_repository.go
  backend/internal/infrastructure/repository/stock_repository.go
  backend/internal/presentation/handlers/stock_handler.go
  backend/internal/presentation/handlers/stock_handler_test.go
  backend/internal/presentation/requests/stock_request.go
  backend/tests/handler/operator_test.go
  backend/tests/repository/operator_test.go
  backend/tests/usecase/operator_test.go
Labels: enhancement, backend, golang

#107 [認証API] ログインAPI + ログアウトAPIの実装
  backend/.env.example
  backend/cmd/app/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/adapter/.gitkeep
  backend/internal/adapter/database/.gitkeep
  backend/internal/adapter/middleware/auth.go
  backend/internal/adapter/middleware/role.go
  backend/internal/adapter/routes/.gitkeep
  backend/internal/adapter/routes/routes.go
  backend/internal/application/.gitkeep
  backend/internal/application/usecase/.gitkeep
  backend/internal/application/usecase/login_usecase.go
  backend/internal/domain/.gitkeep
  backend/internal/domain/models/operator.go
  backend/internal/infrastructure/repository/login_repository.go
  backend/internal/presentation/.gitkeep
  backend/internal/presentation/consts/cookie.go
  backend/internal/presentation/handlers/.gitkeep
  backend/internal/presentation/handlers/login_handler.go
  backend/internal/presentation/handlers/logout_handler.go
  backend/internal/presentation/handlers/product_handler.go
  backend/internal/presentation/requests/login_request.go
  backend/internal/presentation/requests/operator_request.go
  backend/internal/presentation/responses/.gitkeep
  backend/tests/handler/operator_test.go
  backend/tests/models/operator_test.go
  backend/tests/usecase/operator_test.go
Labels: enhancement, backend

#115 VPCスタックの作成
  backend/.env.example
  backend/containers/nginx/Dockerfile
  backend/internal/adapter/database/database.go
  infrastructure/cloudformation/network/cloudfront-amplify-for-front.yml
  infrastructure/cloudformation/network/vpc.yml
Labels: infra, AWS
