Repository riii111/go-rust-comparison, pull requests merged in 2025-01, with the labels that each got.

#98 【商品管理機能】マイグレーション
  backend/internal/domain/models/products.go
  backend/internal/infrastructure/db/migrations/migration.go
Labels: enhancement, backend, golang

#105 [認証API] アカウント登録APIの実装
  Makefile
  backend/.env.example
  backend/.gitignore
  backend/cmd/app/main.go
  backend/cmd/seed/seed.go
  backend/go.mod
  backend/internal/adapter/database/database.go
  backend/internal/adapter/routes/routes.go
  backend/internal/application/usecase/operator_usecase.go
  backend/internal/domain/models/operator.go
  backend/internal/domain/seed/operator.go
  backend/internal/domain/seed/store.go
  backend/internal/infrastructure/repository/operator_repository.go
  backend/internal/presentation/handlers/health_handler.go
  backend/internal/presentation/handlers/operator_handler.go
  backend/internal/presentation/requests/operator_requests.go
  backend/internal/presentation/responses/operator_responses.go
  backend/tests/.gitkeep
  backend/tests/handler/operator_test.go
  backend/tests/models/.gitkeep
  backend/tests/repository/operator_test.go
  backend/tests/usecase/operator_test.go
Labels: enhancement, backend

#96 WAF Stack作成
  infrastructure/cloudformation/notification/sns-topic.yml
  infrastructure/cloudformation/security/wafv2-for-cloudfront.yml
Labels: enhancement, infra, AWS
